#voyagers {
    background-image: url('/images/bg/starry-cosmos-galaxy-clouds.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    /* align-content: space-around; */
    padding: 40px 0;
}

#voyagers h2 {
    text-align: center;
}

.members {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.team-member {
    width: 350px;
    text-align: center;
}

.team-member img{
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 3px 3px 10px black;
    /* display: none; */
}
